{% extends 'base.html' %}
{% block content %}


<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">REVALUATION</h1>
            </div>
        </div>
    </div>
</section>


<!-- Listing -->
<section id="listing" class="py-4">
    <form action="{% url 'result' %}" method="POST">
        {% csrf_token %}
        <ul class="list-group list-group-flush">

            <style>
                        table
                        { empty-cells: show;
                        border-spacing: 0.5rem;
                        white-space: pre-wrap;
                        table-layout: auto;}

            </style>


            <p>
                {% for subject in subjects %}
                <input type="checkbox" name="vehicle" value="{{subject.sub_name}}"> {{subject.sub_name}}<br/>
                {% endfor %}
            </p>


        </ul>
        <input type="submit" value="Submit">

    </form>

</section>
{% endblock %}